---
import { Image } from 'astro:assets';
import Icon from 'astro-icon';
import { type CollectionEntry } from 'astro:content';

type Props = {
  post: CollectionEntry<'posts'>;
};
const { post } = Astro.props;
---

<article class='blog-frontmatter-wrapper'>
  
  <div class='post-left'>
    <div class='image-wrapper'>
      <Image class='image-blog' src={post.data.image} alt={post.data.title} />
    </div>
  </div>
  <div class='post-right'>
    <h2 class="post-title">{post.data.title}</h2>
    <p class='body-text'>{post.data.excerpt}</p>
    <a class='blog-link' href={`/blog/${post.slug}`}>Czytaj dalej</a>
    <div class='blog-author-wrapper'>
      <p class='blog-author'>{post.data.author}</p>
      <span> |</span>
      <span>{new Date(post.data.date).toLocaleDateString()}</span>
    </div>
    <span class='span-line'></span>
    <div class='contacts-wrapper'>
      <div class='contact-links'>
        <a
          class='contact-social-icon'
          href='https://www.linkedin.com/in/agatabeautylogicclinic/recent-activity/all/'
        >
        <Icon class="icon" name='linkedin' />
          <!-- <i class='fa-brands fa-linkedin-in'></i> -->
        </a>
        <a
          class='contact-social-icon'
          href='https://www.instagram.com/p/CoFEx07NS2H/'
        >
          <Icon class="icon" name='instagram' />
          <!-- <i class='fa-brands fa-square-instagram'></i> -->
        </a>
        <a
          class='contact-social-icon'
          href='https://www.facebook.com/SalonKosmetykiiKosmetologiiEstetycznej/'
        >
        <Icon class="icon" name='facebook2' />
          <!-- <i class='fa-brands fa-square-facebook'></i> -->
        </a>
      </div>
    </div>
  </div>
</article>

<style>
  .blog-frontmatter-wrapper {
    margin-top: 10px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--text-font);
  }
  
  .post-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .image-wrapper {
    width: 100%;
  }
  .image-blog {
    border-radius: 7px;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .post-title {
    font-size: 1.1rem;
    line-height: 26px;
    text-align: center;
    color: var(--logo-color-md);
    padding: 10px;
    border-radius: 7px;
    background-color: var(--second-pink);
    letter-spacing: 1px;
  }
  .body-text {
    font-size: 1.3rem;
    font-weight: 700;
  }
  .blog-author-wrapper {
    display: flex;
    gap: 10px;
    opacity: 0.7;
    font-size: 0.9rem;
  }
  .blog-author {
    font-weight: 700;
  }
  .blog-link {
    width: fit-content;
    padding: 15px 25px;
    color: var(--bg-white);
    border-radius: 7px;
    background-color: var(--logo-color-md);
    transition: 0.3s all ease;
  }
  .blog-link:hover {
    background-color: var(--logo-color);
  }
  .span-line {
    width: 85%;
    border-top: 1px solid var(--text-font);
  }
  .contacts-wrapper {
    margin-top: 15px;
    margin-left: 0;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .contact-links {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .contact-social-icon {
    position: relative;
    font-size: 1rem;
    display: flex;
    /* padding: 19px; */
    border-radius: 7px;
    transition: 0.3s background-color ease;
  }
  .icon {
    width: 40px;
  }
  .contact-social-icon:hover {
    opacity: 0.9;
  }
  .fa-brands {
    position: absolute;
    padding: 19px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bg-white);
  }
  
  @media (min-width: 900px) {
    .blog-frontmatter-wrapper {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 40px;
    }
    .post-left {
      max-width: 40%;
      text-align: center;
      align-self: center;
    }
    .post-right {
      max-width: 640px;
    }
    .image-wrapper {
      width: 540px;
    }
    .image-blog {
      
    }
    .body-text {
      font-size: 1.3rem;
    }
    .blog-link {
      padding: 10px 35px;
    }
    .contact-wrapper :is(span) {
      font-size: 0.9rem;
    }
  }
</style>
