---
import { Image } from 'astro:assets';
import { type CollectionEntry } from 'astro:content';

type Props = {
  post: CollectionEntry<'posts'>;
};
const { post } = Astro.props;
---

<article class='blog-frontmatter-wrapper'>
  <div class='post-left'>
    <div class='image-wrapper'>
      <Image class='image-blog' src={post.data.image} alt={post.data.title} />
    </div>
  </div>
  <div class='post-right'>
    <h2>{post.data.title}</h2>
    <p class='body-text'>{post.data.excerpt}</p>
    <a class='blog-link' href={`/blog/${post.slug}`}>Czytaj dalej</a>
    <div class='blog-author-wrapper'>
      <p class='blog-author'>{post.data.author}</p>
      <span> |</span>
      <span>{new Date(post.data.date).toLocaleDateString()}</span>
    </div>
    <span class='span-line'></span>
    <div class='contact-wrapper'>
      <a class='contact-link' href='mailto:kontakt@maciejmartowicz.pl'>
        <span class='email-span'>zuokontakt@coachsamozuo.com</span>
      </a>
      <div class='contact-links'>
        <a class='contact-link' href='tel:+48602649588'>
          tel. <span>602-649-588</span> oraz na
        </a>
        <a
          class='contact-social-icon'
          href='https://www.linkedin.com/in/coachsamozuo-maciek-aloha-marketing-0739a924a/'
        >
          <i class='fa-brands fa-linkedin-in'></i>
        </a>
      </div>
    </div>
  </div>
</article>

<style>
  .blog-frontmatter-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--text-font);
  }
  .post-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .image-wrapper {
    width: 100%;
  }
  .image-blog {
    border-radius: 7px;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  h2 {
    font-size: 1.1rem;
    line-height: 36px;
    color: var(--main-pink);
    /* padding: 10px; */
    border-radius: 7px;
    background-color: var(--second-pink);
    letter-spacing: 1px;
  }
  .body-text {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .blog-author-wrapper {
    display: flex;
    gap: 10px;
    opacity: 0.7;
    font-size: 0.9rem;
  }
  .blog-author {
    font-weight: 700;
  }
  .blog-link {
    width: fit-content;
    padding: 15px 25px;
    color: var(--bg-white);
    border-radius: 7px;
    background-color: var(--main-pink);
    transition: 0.3s all ease;
  }
  .blog-link:hover {
    opacity: 0.8;
  }
  .span-line {
    width: 85%;
    border-top: 1px solid var(--text-font);
  }
  .contact-wrapper {
    margin-top: 15px;
    margin-left: 0;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .contact-wrapper :is(span) {
    color: var(--text-font);
    font-size: 1rem;
  }
  .contact-link {
    color: var(--main-pink);
    font-family: var(--main-font);
    font-size: 1rem;
  }
  .email-span {
    text-decoration: underline;
  }
  .contact-links {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .contact-social-icon {
    position: relative;
    font-size: 1rem;
    padding: 19px;
    border-radius: 7px;
    background-color: var(--main-pink);
    transition: 0.3s background-color ease;
  }
  .contact-social-icon:hover {
    opacity: 0.9;
  }
  .fa-brands {
    position: absolute;
    padding: 19px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bg-white);
  }
  @media (min-width: 900px) {
    .blog-frontmatter-wrapper {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 40px;
    }
    .post-left {
      text-align: center;
      align-self: center;
    }
    .post-right {
      max-width: 640px;
    }
    .image-wrapper {
      width: 540px;
    }
    .body-text {
      font-size: 1.3rem;
    }
    .blog-link {
      padding: 10px 35px;
    }
    .contact-wrapper :is(span) {
      font-size: .9rem;
    }
  }
</style>
