---
import { Image } from 'astro:assets';
import biala from '../../assets/kosmetyka_biala.png';
import estetic from '../../assets/kosmetyka_este.png';
import makeup from '../../assets/makijaz_perm.png';
import depilation from '../../assets/depilation.png';
import radio from '../../assets/radio.png';
import podology from '../../assets/podology.png';
import makecourse from '../../assets/makeup-course.png';
import beautymen from '../../assets/formen.png';
---

<div class='offer-container'>
  <div class='offer one'>
    <Image class='offer-image' src={estetic} alt='beauty-woman' />
    <h3 class='offer-title'>Kosmetologia estetyczna</h3>
    <a class='offer-link' href='/prices#estetic'>
      <span class='offer-link-text'>Odkryj więcej</span>
      <svg
        class='offer-link-svg'
        viewBox='0 0 14 10'
        height='13px'
        width='21px'
      >
        <path d='M1,5 L11,5'></path>
        <polyline points='8 1 12 5 8 9'></polyline>
      </svg>
    </a>
  </div>
<span class="star"></span>
  <div class='offer two'>
    <Image class='offer-image' src={biala} alt='beauty-woman' />
    <h3 class='offer-title'>Kosmetyka Biała</h3>
    <a class='offer-link' href='/prices#white'>
      <span class='offer-link-text'>Odkryj więcej</span>
      <svg
        class='offer-link-svg'
        viewBox='0 0 14 10'
        height='13px'
        width='21px'
      >
        <path d='M1,5 L11,5'></path>
        <polyline points='8 1 12 5 8 9'></polyline>
      </svg>
    </a>
  </div>
  <span class="star"></span>
  <div class='offer three'>
    <Image class='offer-image' src={makeup} alt='beauty-woman' />
    <h3 class='offer-title'>Makijaż permanentny</h3>
    <a class='offer-link' href='/prices#permanent'>
      <span class='offer-link-text'>Odkryj więcej</span>
      <svg
        class='offer-link-svg'
        viewBox='0 0 14 10'
        height='13px'
        width='21px'
      >
        <path d='M1,5 L11,5'></path>
        <polyline points='8 1 12 5 8 9'></polyline>
      </svg>
    </a>
  </div>
  <span class="star"></span>
  <div class='offer four'>
    <Image class='offer-image' src={depilation} alt='depilation-legs' />
    <h3 class='offer-title'>Depilacja( laserowa oraz woskiem )</h3>
    <a class='offer-link' href='/prices#laser'>
      <span class='offer-link-text'>Odkryj więcej</span>
      <svg
        class='offer-link-svg'
        viewBox='0 0 14 10'
        height='13px'
        width='21px'
      >
        <path d='M1,5 L11,5'></path>
        <polyline points='8 1 12 5 8 9'></polyline>
      </svg>
    </a>
  </div>
  <span class="star"></span>
  <div class='offer five'>
    <Image class='offer-image' src={radio} alt='beauty-woman' />
    <h3 class='offer-title'>Pielęgnacja Ciała, Dłoni oraz Stóp</h3>
    <a class='offer-link' href='/prices#hands'>
      <span class='offer-link-text'>Odkryj więcej</span>
      <svg
        class='offer-link-svg middle'
        viewBox='0 0 14 10'
        height='13px'
        width='25px'
      >
        <path d='M1,5 L11,5'></path>
        <polyline points='8 1 12 5 8 9'></polyline>
      </svg>
    </a>
  </div>
  <span class="star"></span>
  <div class='offer six'>
    <Image class='offer-image' src={podology} alt='healthy-feets' />
    <h3 class='offer-title'>Podologia</h3>
    <a class='offer-link' href='/prices#pedicure'>
      <span class='offer-link-text'>Odkryj więcej</span>
      <svg
        class='offer-link-svg'
        viewBox='0 0 14 10'
        height='13px'
        width='21px'
      >
        <path d='M1,5 L11,5'></path>
        <polyline points='8 1 12 5 8 9'></polyline>
      </svg>
    </a>
  </div>
  <span class="star"></span>
  <div class='offer seven'>
    <Image class='offer-image' src={makecourse} alt='makeup-tools' />
    <h3 class='offer-title'>Wizaż i Lekcje Makijażu</h3>
    <a class='offer-link' href='/prices#lessons'>
      <span class='offer-link-text'>Odkryj więcej</span>
      <svg
        class='offer-link-svg'
        viewBox='0 0 14 10'
        height='13px'
        width='21px'
      >
        <path d='M1,5 L11,5'></path>
        <polyline points='8 1 12 5 8 9'></polyline>
      </svg>
    </a>
  </div>
  <span class="star"></span>
  <div class='offer eight'>
    <Image class='offer-image' src={beautymen} alt='beauty-men' />
    <h3 class='offer-title'>Dla Panów</h3>
    <!-- <p class='offer__description'>
          Jakiś krótki tekst o makijaży permanentnym i zrobi poniżej odwołanie
          linkiem do podstrony z pełną ofertą
        </p>
        <ul class='offer__list'>
          <li class='offer__list-item'>brwi (ombre,pudrowa)</li>
          <li class='offer__list-item'>usta (korekty do 2 lat)</li>
          <li class='offer__list-item'>powieki (zagęszczanie rzęs)</li>
          <li class='offer__list-item'>i inne</li>
        </ul> -->
    <a class='offer-link' href='/prices#men'>
      <span class='offer-link-text'>Odkryj więcej</span>
      <svg
        class='offer-link-svg'
        viewBox='0 0 14 10'
        height='13px'
        width='21px'
      >
        <path d='M1,5 L11,5'></path>
        <polyline points='8 1 12 5 8 9'></polyline>
      </svg>
    </a>
  </div>
</div>

<style>
  .offer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--second-pink);
    justify-content: space-around;
    align-items: center;
    padding: 40px 10px;
    margin-bottom: 50px;
    gap: 40px;
  }
  .offer {
    margin: 5px;
    /* border: 1px solid var(--main-pink); */
    border-radius: 5px;
    background-color: var(--second-pink);
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: var(--main-font);
    color: var(--text-font);
    height: 380px;
    outline: 1px solid transparent;
    width: 100%;
    max-width: 360px;
    padding: 20px;
    transform: scale(1);
    transition: all 0.3s linear;
    box-shadow: 18px 10px 31px 15px rgba(159, 139, 166, 0.5);
    /* box-shadow: 8px 10px 31px 5px rgb(231, 216, 236, .5); */
  }
  
  .offer:hover {
    transform: scale(1.03);
    background-color: var(--bg-white);
  }
  .offer-title {
    padding: 15px;
    text-transform: uppercase;
  }
  .offer-image {
    width: 100%;
    height: 170px;
    margin-bottom: 20px;
    object-fit: contain;
  }
  .offer-link {
    background-color: var(--text-font);
    padding: 8px 20px 8px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
  }
  .offer-link:hover {
    background-color: var(--main-pink);
    
  }
  .offer-link-text {
    color: var(--bg-white);
    padding-right: 10px;
    transition: 0.3s all ease;
  }
  .offer-link:hover span {
   
  }
  .offer-link-svg {
    width: auto;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--bg-white);
    stroke-width: 1;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  .offer-link:hover svg {
    transform: translateX(5px);

  }
  .star {
    background-image: url('../../assets/star.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    opacity: .3;
  }

  @media (min-width: 900px) {
    .offer-container {
      flex-direction: row;
      justify-content: center;
      position: relative;
    }
    /* .offer-container::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/sketch.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      opacity: .1;
    } */
    .star {
      display: none;
    }
  }
</style>
