---
import worker1 from '../../assets/worker1.png';
import worker3 from '../../assets/worker3.webp';
import worker4 from '../../assets/worker4.webp';
import worker5 from '../../assets/worker5.webp';
import worker2 from '../../assets/worker2.webp';
import worker6 from '../../assets/worker6.webp';
import WorkersCard from './WorkersCard.astro';
---

<section class='workers-section'>
  <h2 class='workers-subheader'>Poznaj zespół do zadań specjalnych!</h2>
  <div class='workers container'>
    <WorkersCard
      id='worker-one'
      name='Agata Ambroziak'
      occupations={['Właścicielka kliniki']}
      descriptions={[
        'Kosmetolog od zadań specjalnych, dba o urodę twarzy i ciała wykonując bardzo szeroki wachlarz zabiegów pielęgnacyjnych',
        'Bardzo zaciekle śledzi trendy i wprowadza systematycznie do oferty wszystkie sprawdzone i godne polecenia zabiegi.',
        'Wielka pasjonatka swojego zawodu łączy tym samym pasję z pracą. Żyje bardzo aktywnie, stawia na sporty i podróże małe i duże.',
        'Zaraża pozytywną energią i rozsiewa aurę aloha, dlatego wizyta u niej na zabiegu to również rodzaj terapii, po której wracasz do domu uszczęśliwiona/ny.',
      ]}
      specializations={[
        'Kosmetologia estetyczna',
        'Kosmetyka biała',
        'Makijaż permanentny',
        'Zabiegi na ciało',
        'Podologia',
      ]}
      imageSrc={worker1}
      altText='beauty woman'
    />
    <WorkersCard
      id='worker-two'
      name='Aleksandra Bojarowicz'
      occupations={['Beauty Manager', 'Kosmetyczka', 'Stylistka paznokci']}
      altText='beauty woman'
      imageSrc={worker2}
      descriptions={[
        'Jeśli oprócz profesjonalnej usługi szukasz ukojenia i mentalnego wsparcia to idealnie trafiłaś. Ola ponad wszystko ceni sobie zadowolenie klienta dlatego ustawiają się do niej kolejki. Manualna perfekcjonistka, która zadba o każdy szczegół. Niebywała kultura osobista i niezwykła gościnność to jej znak rozpoznawczy.',
        'Prywatnie uwielbia pichcić w kuchni, dlatego często możemy wraz z klientami degustować się jej ciastami w naszej klinice...niestety szybciutko znikają',
      ]}
      specializations={[
        'Masaż Kobido',
        'Manicure hybrydowy i klasyczny',
        'Pedicure hybrydowy i klasyczny',
        'Stylizacja oprawy oka',
        'Zabiegi pielęgnacyjne twarzy',
      ]}
    />
    <WorkersCard
      id='worker-three'
      name='Jolanta Zienkiewicz'
      occupations={['Technik usług kosmetycznych', 'Stylistka rzęs']}
      altText='beauty woman'
      imageSrc={worker3}
      descriptions={[
        'Jola mimo młodego wieku posiada spore doświadczenie w zawodzie. Bardzo pozytywne usposobienie spotyka się z ogromną sympatią wśród klientek dlatego szybciutko zapełnia się jej grafik. Zaangażowana, staranna z imponującą branżową wiedzą. Jeśli trafisz w jej ręce z pewnością pozostaniesz jej wierna.',
        'Jola uczestniczy również w tworzeniu funpage firmowego, dostarczając m.in. piękne zdjęcia',
        'Prywatnie psia mama, która pasjonuje się rękodziełem oraz fotografią',
      ]}
      specializations={[
        'Stylizacja paznokci hybrydowa i żelowa',
        'Pedicure hybrydowy i klasyczny',
        'Stylizacja oprawy oka',
        'Stylizacja rzęs',
        'Zabiegi na twarz i ciało',
        'Masaż bańką chińską',
      ]}
    />
    <WorkersCard
      id='worker-four'
      name='Kinga Wowk'
      occupations={['Kosmetolog', 'Stylistka paznokci']}
      altText='beauty woman'
      imageSrc={worker4}
      descriptions={[
        'Królowa paznokci” to jej drugie imię, ponieważ jej niebywała precyzja jest zachwycająca. Serdeczna i zawsze uśmiechnięta co sprawia, że po wizycie u niej czujesz zastrzyk endorfin',
        'Jej konikiem jest również stylizacja brwi więc potrafi wydobyć piękno i nadać niebywały charakter każdej twarzy.',
        'Prywatnie uwielba czytać książki, jazdę na rolkach i gotowanie',
      ]}
      specializations={[
        'Stylizacja paznokci hybrydowa i żelowa',
        'Pedicure hybrydowy i klasyczny',
        'Stylizacja oprawy oka',
        'Zabiegi na twarz i ciało',
      ]}
    />
    <WorkersCard
      id='worker-five'
      name='Klaudia Kołecka'
      occupations={['Kosmetolog', 'Zabiegowiec']}
      altText='beauty woman'
      imageSrc={worker5}
      descriptions={[
        'Wielka pasjonatka swojej pracy, porażająco zaangażowana w perfekcyjne wykonanie każdej usługi. Aktywna i uśmiechnięta, wulkan pozytywnej energii. Specjalizuje się w pielęgnacji twarzy i ciała, nieustannie poszerzając swoje kompetencje. Jak to się mawia „stworzona do swojego zawodu”. Bije od niej przyjazna aura dlatego bardzo szybko zdobywa zaufanie klientek i pielęgnuje każdą z tych relacji',
        'Prywatnie kocha podróże i od 15 lat jeździ konno',
      ]}
      specializations={[
        'Zabiegów pielęgnacyjnych na twarz i ciało',
        'Depilacji',
        'Stylizacja oprawy oka',
      ]}
    />
    <WorkersCard
      id='worker-six'
      name='Koleta Głowacka'
      occupations={['Kosmetolog']}
      altText='beauty woman'
      imageSrc={worker6}
      descriptions={[
        'Doświadczony zabiegowiec pielęgnacyjny. Specjalizuje się w kosmetyce białej jak i estetycznej.',
        'Swoją ekspercką wiedzę i umiejętności pozyskała na stanowisku szkoleniowca beuty. Robi piorunujące pierwsze wrażenie i wytrwale je podtrzymuje ponieważ przyciąga klientów jak magnes tworząc z nimi trwałe relacje. Profesjonalna, skrupulatna i bardzo staranna',
      ]}
      specializations={[
        'Zabiegów pielęgnacyjnych na twarz i ciało',
        'Zabiegów estetycznych<',
      ]}
    />
  </div>
</section>

<style>
  .workers-section {
    display: flex;
    flex-direction: column;
    background: var(--bg-white);
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .workers-subheader {
    font-family: var(--main-font);
    font-weight: 300;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
    width: 80%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    border-bottom: 12px solid var(--logo-color-md);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--dark-violet);
    padding-bottom: 10px;
    word-break: break-word;
  }

  @media (min-width: 900px) {
    .workers-section {
      align-items: center;
      padding: 0;
    }
    .workers-subheader {
      margin-top: 80px;
      margin-bottom: 80px;
    }
  }
</style>
